@import "../../../../constant.scss";

.menuBar{
    display: flex;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    .title1{
        padding: 0 30px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-family: $font;
        color: $color1;
        font-size: $fontSize ;
        font-weight:300;
        &:hover{
            font-size: $fontSizeH;
            color: $color3;
            text-shadow: $hover;
            @extend %transition1
        }
    }
}

.title{
    width: 75px;
    display: flex;
    grid-gap: 5px;
    justify-content: center;
    text-decoration: none;
    font-family: $font;
    color: $color1;
    font-size: $fontSize ;
    font-weight:300;
    &:hover{
        font-size: $fontSizeH;
        color: $color3;
        text-shadow: $hover;
        @extend %transition1
    }
    p{
        font-size: $fontSize ;
        font-weight:300;
        padding: 0;
        margin: 0;
    }
}


.item{
    display: flex;
    text-decoration: none;
    font-family: $font;
    color: $color1;
    font-size: $fontSize ;
    font-weight:300;
    cursor: pointer;
    border: none;
    background: none;
    width: auto;
    @extend %transition1;
    &:hover{
        @extend %transition1;
        color: $color3;
        border: none;
    }
    svg{
        margin-right: 20px;
    }
    .subItem{
        border-radius: 25px;
        width:80px;
        margin-top: 40px;
        position:fixed;
        display: grid;
        grid-gap: 10px;
        @extend %glass;
        padding: 20px;
        a{
            color: $color1;
            text-decoration: none;
            &:hover{
                @extend %transition1;
                color: $color3;
            }
        }
    }
}

@media screen and (max-width: 950px){
    .menuBar{
        display: none;
    }
}