@import "../../../../constant.scss";

.iconUser{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    .material-icons{
        color: $color1;
        margin-top: -10px;
        margin-left: -10px;
        padding: 15px;
        border-radius:40%;
        @extend %glass;
        &:hover{
            color: $color2 ;
            @extend %transition1;
            @extend %glassH;
            background: #a9ff38;
        }
    }
    .subItem{
        border-radius: 20px;
        margin-top: 55px;
        position:fixed;
        display: grid;
        grid-gap: 10px;
        @extend %glassH;
        background: #a9ff38;
        padding: 15px;
        justify-items: center;
        button{
            border: none;
            background: none;
            color: $color2;
            font-family: $font;
            font-weight: 600;
            display: flex;
            grid-gap: 5px;
            svg{
                font-size: 16px;
            }
            &:hover{
                @extend %transition1;
                color: $color5;
            }
        }
    }
}

@media all and (max-width:800px){
    .iconUser{
        .material-icons{
            font-size: 22;
            padding: 10px;
            border-radius:40%;
        }
        .subItem{
            margin-top: 40px;
        }
    }
}