@import '../../../constant.scss';


.ContainerLogin{
    display: grid;
    min-height: 85vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-gap: 30px;
    h2{
        color: $color7;
    }
}