@import "../../../../constant.scss";

header{
    position: fixed;
    width: 100%;
    z-index: 99;
    .pageHeader{
        display: grid;
        padding: 10px 50px;
        justify-content: space-between;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 1fr;
        align-items: center;
        grid-template-areas: 
            "logoBrand callHome ContainerIcon";
        @extend %glass;
        .ContainerIcon{
            display: flex;
            grid-area: ContainerIcon;
            justify-content: flex-end;
            grid-gap: 15px;
        }
    }
}
@media screen and (max-width: 850px){
    header{
        .pageHeader{
            grid-template-columns: 35% 30% 35%;
            padding: 10px 5%;
            grid-template-areas: 
            "hamburguesaMenu logoBrand ContainerIcon";
            .callHome{
                display: none;
            }
        }
    }
}
