@import '../../../constant.scss';

.CarPage{
    color: $color1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: auto;
    padding: 250px 10%; 
    .TitleCar{
        padding-top: 250px;
        height: 100px;
        color: $color1;
    }
    .ListProduct{
        display: grid;
    }
}

@media all and (max-width:900px){
    .CarPage{
        padding: 220px 10% 50px;
    }
}