@import "../../../../constant.scss";

header{
    .logoBrand{
        display: flex;
        img{
            min-width: 120px;
            max-width: 150px;
        }
    }
}

@media screen and (max-width: 850px){
    header{
        .logoBrand{
            justify-content: center;
            img{
                min-width: 100px;
                max-width: 100px;
            }
        }
    }
}
