@import "../../../../constant.scss";

header{
    .logoBrand{
        display: flex;
        img{
            min-width: 120px;
            max-width: 150px;
        }
    }
}

@media screen and (max-width: 950px){
    header{
        .logoBrand{
            justify-content: center;
            img{
                min-width: 90px;
                max-width:90px;
            }
        }
    }
}
