@import '../../../../constant.scss';

.ContainerItenProduct{
    max-width: 90%;
    display:grid;
    justify-items: center;
    align-content: center;
    .ImgItenProduct{
        .IconFavorite{
            position:absolute;
            .material-icons{
                margin-top: -10px;
                margin-left: -10px;
                padding: 15px;
                border-radius:50%;
                @extend %glass;
                &:hover{
                    @extend %glassH;
                    @extend %transition1;
                }
            }
        }
        img{
            border-radius: 60px;
            @extend %hover1
        }
    }
    .TitleItenProduct{
        margin: 10px 0 4px 0;
    }
    .PreciItenProduct{
        color:$color3;
        margin: 0px;
        font-size: 20px;
        font-weight: 600;
    }
    .CatItenProduct{
        margin: 0px;
        font-size: 12px;
        color: $color5;
    }
    .ButtonItenProduct{
        width: 40%;
        max-width: 200px;
        font-family: $font;
        font-size: $fontSize;
        margin: 10px 0 0 0;
        padding: 10px 0 10px 0;
        border-radius: 15px;
        background: none;
        border: 2px solid $color1;
        color: $color1;
        &:hover{
            font-weight: 500;
            color: $color2;
            background: $color3;
            border: 2px solid $color3;
            @extend %transition1;
            @extend %hover1;
            box-shadow: $hover;
        }
    }
    
}