@import '../../../../constant.scss';

.PageListProducts{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: auto;
    margin-bottom: 20px;
    grid-gap: 50px;
    padding: 300px 5%;
    color: $color1;
    justify-items: center;
    @extend %transition1;
}

/*------------------------------------------------*/
/*Media Queris*/
/*------------------------------------------------*/
@media all and (max-width:1500px){
    .PageListProducts{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        padding: 250px 5%;
    }
}

@media all and (max-width:980px){
    .PageListProducts{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 230px 5%;
    }
}