@import '../../../../constant.scss';

.ContainerItenProduct{
    max-width: 90%;
    display:grid;
    justify-items: center;
    align-content: center;
    .ImgItenProduct{
        img{
            border-radius: 60px;
            @extend %hover1
        }
    }
    .TitleItenProduct{
        margin: 10px 0 4px 0;
    }
    .PreciItenProduct{
        color:$color3;
        margin: 0px;
        font-size: 20px;
        font-weight: 600;
    }
    .CatItenProduct{
        margin: 0px;
        font-size: 12px;
        color: $color5;
    }
    .ButtonItenProduct{
        display: grid;
        width: 40%;
        max-width: 200px;
        font-family: $font;
        font-size: $fontSize;
        margin: 10px 0 0 0;
        padding: 10px 0 10px 0;
        border-radius: 15px;
        background: none;
        border: 2px solid $color1;
        color: $color1;
        text-decoration: none;
        justify-items: center;
        align-items: center;
        &:hover{
            font-weight: 500;
            color: $color2;
            background: $color3;
            border: 2px solid $color3;
            @extend %transition1;
            @extend %hover1;
            box-shadow: $hover;
        }
    }
}

/*------------------------------------------------*/
/*Media Queris*/
/*------------------------------------------------*/
@media all and (max-width:1500px){
    .ContainerItenProduct{
        .ImgItenProduct{
            img{
                border-radius: 45px;
            }
        }
        .TitleItenProduct{
            font-size: 16px;
        }
        .ButtonItenProduct{
            width: 60%;
            font-size: 16px;
            padding: 8px 0 8px 0;
        }
        .CatItenProduct{
            font-size: 10px;
            text-align: center;
        }
        .PreciItenProduct{
            font-size: 18px;
        }
    }
}

@media all and (max-width:980px){
    .ContainerItenProduct{
        .ImgItenProduct{
            img{
                border-radius: 35px;
            }
        }
        .TitleItenProduct{
            text-align: center;
            font-size: 12px;
            min-height: 30px;
        }
        .ButtonItenProduct{
            width: 80%;
            font-size: 12px;
            margin-bottom: 30px;
        }
        .CatItenProduct{
            font-size: 8mb ,px;
            text-align: center;
        }
        .PreciItenProduct{
            font-size: 16px;
        }
    }
}