@import '../../../constant.scss';
.MainContact{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
    min-height: 65vh;
    .contact{
        color: $color2;
        input{
            font-family: $font;
            font-size: 18px;
        }
    }
}