/* Color Theme*/

$color1: white ;
$color2: #202020;
$color3: #a9ff38;
$color4:rgb(255, 39, 39);
$color5: grey;
$color6: #ffffff14;
$hover: 0 0 0.2em #a9ff3870, 0 0 0.2em #a9ff3883;
%hover1{
    &:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.692);
    }
}

/*Fuente */

$font: 'Poppins', sans-serif;
$fontSize:14px;
$fontSizeH: 16px;

/* Badgraud */
%glass{
    background: rgba(32, 32, 32, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

%glassH{
    background: #a9ff3860;
    box-shadow: 0 4px 30px #a9ff3859;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

%glassB{
    background: #ffffff60;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: $color1; 
}

/* Transition */

%transition1{
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}


