@import "../../../../constant.scss";

.ContainerProduct{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    grid-gap: 50px;
    padding: 250px 10%;
    color: $color1;
    grid-template-areas: 
        "HeaderProduct HeaderProduct"
        "PintureProduct ContectsProduct";
    .HeaderProduct{ 
        grid-area: HeaderProduct;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .MigasProduct{
            color: $color5;
            a{
                text-decoration: none;
                color: $color5;
                &:hover{
                    color: $color3; 
                }
            }
        }
    }
    .PintureProduct{
        grid-area: PintureProduct;
        display: grid;
        .PintureImg{
            img{
                border-radius: 70px;
                width: auto;
                max-height:90vh;
            }
        }
    }
    .ContectsProduct{ 
        grid-area: ContectsProduct;
        display: grid;
        justify-items: center;
        grid-gap: 20px;
        .TitleProduct{
            margin: 0px;
            color:$color1;
            font-size:45px;
            font-weight: 600;
        }
        .DescriptionProduct{
            .TitleDProduct{
                color: $color5;
            }
            .Description{
                text-align: justify;
                color: $color1;
                font-size: 14px;
            }
        }
        .PreciProduct{
            font-size: 45px;
            color: $color3;
            font-weight:700;
            p{
                margin: 0px;
            }
        }
        .ItemStock{
            .ContaineShot{
                min-height: 50px;
            }
            .ButtonC{
                margin-top: 20px;
                display: grid;
                font-family: $font;
                font-size: $fontSize;
                padding: 15px 0 15px 0;
                border-radius: 15px;
                background: #ba80fd;
                color: $color2;
                border: 2px solid #ba80fd;
                text-decoration: none;
                justify-items: center;
                align-items: center;
                font-weight: 600;
                &:hover{
                    border: 2px solid $color1;
                    @extend %transition1;
                    @extend %glass;
                    background: $color1;
                }
            }
        }
    }
}

/*------------------------------------------------*/
/*Media Queris*/
/*------------------------------------------------*/
@media all and (max-width:1300px){
    .ContainerProduct{
        padding: 250px 5%;
    }
}
@media all and (max-width:1200px){
    .ContainerProduct{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "HeaderProduct"
        "PintureProduct"
        "ContectsProduct";
        .PintureProduct{
            display: grid;
            justify-items: center;
            .PintureImg{
                
                img{
                    border-radius: 50px;
                    width: auto;
                    max-width: 100%;
                }
                
            }
        }
    }
}
@media all and (max-width:600px){
    .ContainerProduct{
        grid-gap: 10px;
        .ContectsProduct{ 
            grid-gap: 0px;
            .TitleProduct{
                font-size:30px;
            }
            .DescriptionProduct{
                .Description{
                    text-align: justify;
                    font-size: 12px;
                }
            }
            .ItemStock{
                width: 90%;
                grid-gap: 10px;
                grid-template-columns: 1fr;
            }
        }
    }
}
