@import '../../../../constant.scss';

.WindonTotal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: auto;
    padding: 20px;
    .ContainerEmpty{
        .ButtonEmpty{
            color:$color1;
            margin-top: 20px;
            display: flex;
            font-family: $font;
            font-size: 10px;
            padding: 10px 20px;
            border-radius: 15px;
            border: none;
            text-decoration: none;
            justify-items: center;
            align-items: center;
            font-weight: 600;
            background: #ff383865;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            &:hover{
                background: rgba(54, 54, 54, 0.7);
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
            }
            span{
                font-size: 12px;
            }
        }
    } 
    .ContainTotal{
        display: grid;
        align-items: center;
        justify-items: end;
        .SubTotal{
            color: $color5;
            font-size: 14px;
        }
        .Discunt{
            text-align: end;
            font-size: 10px;
            color: $color7 ;
            text-decoration: line-through;
        }
        .Total{
            font-size: 11px;
            display: flex;
            grid-gap: 10px;
            align-items: center;
            margin: 0px;
            p{
                font-size: 24px;
                margin: 0px;
                font-weight: 700;
            }
        }
    }
}

@media all and (max-width:900px){
    .WindonTotal{
        padding: 20px 10px;
        .ContainerEmpty{
            .ButtonEmpty{
                display: none;
            }
        }
    }
}