@import "../../../../constant.scss";

.callHome{
    display: flex;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        font-family: $font;
        color: $color1;
        font-size: $fontSize ;
        font-weight:300;
        &:hover{
            font-size: $fontSizeH;
            color: $color3;
            text-shadow: $hover;
            @extend %transition1
        }
    }
}