@import "../../../../color.scss";

.callHome{
    display: flex;
    grid-gap: 30px;
    justify-content: center;
    a{
        text-decoration: none;
        font-family: Poppins;
        color: $color1;
        font-size: 20px;
        font-weight:300;
        &:hover{
            color: $color3;
            text-shadow: $hover;
            border-bottom: $color3 solid 1px ;
        }
    }
}