@import "../../color.scss";

.pageHeader{
    display: grid;
    padding: 10px 50px;
    justify-content: space-between;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    grid-template-areas: 
        "logoBrand callHome CarWidget"
        "SearchWindow SearchWindow SearchWindow";
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    .hamburguesaMenu{
        display: none;
        margin-top: 8px;
        font-size: 30px;
        color: $color1;
    }
    .logoBrand{
        display: flex;
        img{
            min-width: 120px;
            max-width: 150px;
        }
    }
}
@media screen and (max-width: 780px){
    .pageHeader{
        grid-template-areas: 
        "hamburguesaMenu logoBrand CarWidget"
        "SearchWindow SearchWindow SearchWindow";
        .hamburguesaMenu{
            display: flex;
        }
        .callHome{
            display: none;
        }
        .logoBrand{
            justify-content: center;
        }
    }
}
