@import "../../../../constant.scss";

.iconCar{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    .numbCar{
        margin-left: 16px;
        display: flex;
        flex-flow: row wrap;
        -webkit-box-pack: center;
        place-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: absolute;
        box-sizing: border-box;
        background: $color4;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        z-index: 1;
        p{
            font-family: Poppins;
            font-size: 10px;
            color: $color1;
        }
    }
    .material-icons{
        color: $color1;
        margin-top: -10px;
        margin-left: -10px;
        padding: 15px;
        border-radius:40%;
        @extend %glass;
        &:hover{
            color: $color2 ;
            @extend %transition1;
            @extend %glassH;
            background: #a9ff38;
        }
    }
}

@media all and (max-width:800px){
    .iconCar{
        .numbCar{
            height: 16px;
            width: 16px;
            p{
                font-size: 8px;
            }
        }
        .material-icons{
            font-size: 22;
            padding: 10px;
            border-radius:40%;
        }
    }
}